*{
        margin:0;
        padding: 0;
    }

    .container > div
            {
                flex: 1;
                display: flex;
                align-items: center;
                text-align: center;
            }

    div.topnav {
            text-align: left;
            overflow: hidden;
            padding-left: 15px;
            box-shadow: 5px 18px 15px rgba(0, 0, 0, 0.1);
            opacity: 1;
            }


    #Anaclock{
        position: absolute;
        top:20px;
        left:20px;
        width: 200px;
        height:200px;
        background-color: black;
        border-radius: 100%;
        background-image: url("pictures/clockDial1.jpg");
        background-size: 200px;
        margin-top: 150px;
        margin-left: 550px;
    }

    #Digiclock{
    position: absolute;
    top: 50%;
    left: 52%;
    transform: translateX(-50%)
    translateY(-50%);
    color: #f2ddcb;
    font-size: 60px;
    font-family: Orbitron;
    letter-spacing: 7px;
    }




    .transform{
        width: 2px;
        position: absolute;
        left:49px;
        -webkit-transform-origin:bottom;
    }
    #secH{
        top:9px;
        left:100px;
        background-color: red;
        height: 90px;
    }
    #minH{
        top:15px;
        left:100px;
        background-color: black;
        height: 90px;
    }
    #hrH{
        top:50px;
        left:100px;
        background-color: black;
        height: 60px;
    }

    #clockBtn
        {
                color:#000000;
                padding: 12px 28px 12px 28px;
                border: none;
                text-align: center;
                margin-top: 300px;
                margin-left: 617px;
                flex: 1;
                

        }
    #clockBtn:hover{
                background-color: #2aa888;
                color: #FFFF;
                box-shadow: 10px 18px 15px rgba(0, 0, 0, 0.1);
            }


    #add{
             top:200px;
             position:absolute;
             left: 60px;
             border: none;
             padding: 10px 20px 10px 20px;
             border-radius: 10px;
            
    }

    #add:hover{
                background-color: #2aa888;
                color: #FFFF;
                box-shadow: 10px 18px 15px rgba(0, 0, 0, 0.1);
            }

    #getTime{
            width: 80px;
            height: 37px;
            top:150px;
            position:absolute;
            left: 200px;
            border-radius: 10px;

    }

    #setAlarm{
             top:140px;
             position:absolute;
             left: 40px;
             border: none;
             padding: 10px 20px 10px 20px;
             font-size: 28px;
             font-weight: bold;
             color: #f2ddcb;

    }








   













